node-red/device-flow.json
[{"id":"393d3652.de08ca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"34dbf4d4.1524ec","type":"mysql","z":"393d3652.de08ca","mydb":"d117bcfc.f31d2","name":"","x":1180,"y":160,"wires":[[]]},{"id":"331407df.3b9228","type":"inject","z":"393d3652.de08ca","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":540,"wires":[["cb49c2fe.76855"]]},{"id":"cb49c2fe.76855","type":"function","z":"393d3652.de08ca","name":"time","func":"var count = context.get(\"count\")\nif(count===undefined)count=1\nvar newCount = count+1\ncontext.set(\"count\", newCount)\nmsg.payload=count\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":460,"wires":[["5da98b.6d1fb674"]]},{"id":"5da98b.6d1fb674","type":"function","z":"393d3652.de08ca","name":"fake temperatures","func":"var res = [];\nconst start = global.get(\"startIndex\");\nconst end = global.get(\"startIndex\") + global.get(\"nbOfProbes\")\n\nfor (var i=start; i<end; i++){\n    const measure = {\n        dateTime : new Date(),\n        value :  Math.round(Math.abs(Math.cos(msg.payload*Math.PI/180))*1000),\n        site: {\n            id : global.get(\"site\")\n        },\n        probe : {\n            id : i+1\n        }\n    }\n    res.push(measure)\n}\n\nmsg.payload = res\nflow.set(\"postBody\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["f5480946.a90998","9e2c2990.98ce18","a3b69038.628ce"]]},{"id":"f5480946.a90998","type":"function","z":"393d3652.de08ca","name":"buid sql querry","func":"var measures = msg.payload\nvar querry = function (m){\nreturn \"INSERT INTO measures (\"\n+\"value,\"\n+\"site,\"\n+\"probe\"\n+\")\"\n+\"VALUES (\"\n+m.value.toString()+\",\"\n+m.site.id.toString()+\",\"\n+m.probe.id.toString()\n+\");\"\n}\n\nvar res=\"\"\n\nmeasures.forEach(function(m){\n res=res.concat(querry(m))   \n})\n\nmsg.topic = res\nmsg.payload= res\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["43e67a2b.28ce94"]]},{"id":"a2ef2b72.1e75c8","type":"inject","z":"393d3652.de08ca","name":"CREATE","topic":"CREATE","payload":"CREATE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":200,"wires":[["37c8e645.a48c5a"]]},{"id":"99295996.396c68","type":"debug","z":"393d3652.de08ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":500,"wires":[]},{"id":"b8211369.78c7e","type":"inject","z":"393d3652.de08ca","name":"DROP","topic":"DROP","payload":"DROP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":140,"wires":[["37c8e645.a48c5a"]]},{"id":"8668dfa6.208e8","type":"http request","z":"393d3652.de08ca","name":"http","method":"use","ret":"obj","url":"","tls":"","x":810,"y":540,"wires":[["d5c085b4.493da8"]]},{"id":"9e2c2990.98ce18","type":"function","z":"393d3652.de08ca","name":"build http request","func":"msg.url=global.get(\"serverUrl\");\nmsg.method=\"POST\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["8668dfa6.208e8"]]},{"id":"dfc4cfc2.8ac8d","type":"function","z":"393d3652.de08ca","name":"set context","func":"global.set(msg.topic, msg.payload)\n\nmsg.payload = {\n    site : global.get(\"site\"),\n    serverUrl : global.get(\"serverUrl\"),\n    startIndex : global.get(\"startIndex\")\n}\nreturn msg","outputs":1,"noerr":0,"x":390,"y":180,"wires":[[]]},{"id":"3420d303.bddc6c","type":"inject","z":"393d3652.de08ca","name":"SITE_ID","topic":"site","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":120,"wires":[["dfc4cfc2.8ac8d"]]},{"id":"4d111379.4f72dc","type":"inject","z":"393d3652.de08ca","name":"SERVER_URL","topic":"serverUrl","payload":"http://localhost:3004/measures/data","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":180,"wires":[["dfc4cfc2.8ac8d"]]},{"id":"eb5d9cf0.007ba","type":"inject","z":"393d3652.de08ca","name":"START_INDEX","topic":"startIndex","payload":"40","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":240,"wires":[["dfc4cfc2.8ac8d"]]},{"id":"6dc3a0d4.6081e","type":"inject","z":"393d3652.de08ca","name":"NB_OF_PROBES","topic":"nbOfProbes","payload":"4","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":300,"wires":[["dfc4cfc2.8ac8d"]]},{"id":"6f18cf48.923c9","type":"inject","z":"393d3652.de08ca","name":"DEVICE_ID","topic":"deviceId","payload":"test","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["dfc4cfc2.8ac8d"]]},{"id":"d5c085b4.493da8","type":"switch","z":"393d3652.de08ca","name":"SATUS = 200 ?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":540,"wires":[["99295996.396c68"],["87cf770.002a488"]]},{"id":"a3b69038.628ce","type":"debug","z":"393d3652.de08ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":600,"wires":[]},{"id":"37c8e645.a48c5a","type":"function","z":"393d3652.de08ca","name":"TABLE","func":"const topic = msg.topic.concat(\" TABLE\")\nmsg.topic = topic\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["c5494bec.edc618","48d157ce.b53cb8"]]},{"id":"48d157ce.b53cb8","type":"function","z":"393d3652.de08ca","name":"PENDING","func":"const topic = msg.topic.concat(\" pending(dateTime TIMESTAMP, value decimal, site int, probe int);\")\nmsg.topic = topic\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":140,"wires":[["34dbf4d4.1524ec"]]},{"id":"c5494bec.edc618","type":"function","z":"393d3652.de08ca","name":"MEASURES","func":"const topic = msg.topic.concat(\" measures(dateTime TIMESTAMP, value decimal, site int, probe int);\")\nmsg.topic = topic\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["34dbf4d4.1524ec"]]},{"id":"87cf770.002a488","type":"function","z":"393d3652.de08ca","name":"build sql querry","func":"var measures = flow.get(\"postBody\")\nvar querry = function (m){\nreturn \"INSERT INTO pending (\"\n+\"value,\"\n+\"site,\"\n+\"probe\"\n+\")\"\n+\"VALUES (\"\n+m.value.toString()+\",\"\n+m.site.id.toString()+\",\"\n+m.probe.id.toString()\n+\");\"\n}\n\nvar res=\"\"\n\nmeasures.forEach(function(m){\n res=res.concat(querry(m))   \n})\n\nmsg.topic = res\nmsg.payload= res\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":600,"wires":[["8f447163.05778"]]},{"id":"8f447163.05778","type":"mysql","z":"393d3652.de08ca","mydb":"d117bcfc.f31d2","name":"","x":1360,"y":600,"wires":[[]]},{"id":"de4b9be4.e1ed28","type":"inject","z":"393d3652.de08ca","name":"PENDING","topic":"SELECT * from pending;","payload":"pending","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":780,"wires":[["fdf5fd0f.f32ed"]]},{"id":"fdf5fd0f.f32ed","type":"mysql","z":"393d3652.de08ca","mydb":"d117bcfc.f31d2","name":"","x":320,"y":780,"wires":[["6380a44a.72654c"]]},{"id":"6380a44a.72654c","type":"switch","z":"393d3652.de08ca","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":780,"wires":[[],["6431412.7f75bc"]]},{"id":"43e67a2b.28ce94","type":"mysql","z":"393d3652.de08ca","mydb":"d117bcfc.f31d2","name":"","x":820,"y":480,"wires":[[]]},{"id":"d6853b18.b705b8","type":"http request","z":"393d3652.de08ca","name":"http","method":"use","ret":"obj","url":"","tls":"","x":890,"y":820,"wires":[["914417e6.e62c98"]]},{"id":"6431412.7f75bc","type":"function","z":"393d3652.de08ca","name":"build http request","func":"msg.url=global.get(\"serverUrl\");\nmsg.method=\"POST\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["d6853b18.b705b8","9b8d0d82.e52a3"]]},{"id":"9b8d0d82.e52a3","type":"debug","z":"393d3652.de08ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":740,"wires":[]},{"id":"914417e6.e62c98","type":"switch","z":"393d3652.de08ca","name":"SATUS = 200 ?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":820,"wires":[["417b814.1ea248"],[]]},{"id":"417b814.1ea248","type":"function","z":"393d3652.de08ca","name":"build sql querry","func":"msg.topic = \"DELETE from pending;\"\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":820,"wires":[["d3be6cd8.47efd"]]},{"id":"d3be6cd8.47efd","type":"mysql","z":"393d3652.de08ca","mydb":"d117bcfc.f31d2","name":"","x":1440,"y":820,"wires":[[]]},{"id":"d117bcfc.f31d2","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""}]
